table.sortable, table.sortable-with-arrows {
	thead th {
		cursor: pointer;
		div.sortable-container {
			display: flex;
			justify-content: space-between;
			padding: 0;
			div.feather-icon svg {
				margin-left: 1rem;
				display: flex;
				flex-direction: column;
				justify-content: center;
				height: 1.25em;
				line-height: 1.6em;
			}
		}
	}
}
